html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  width:  400px;
  height: 600px;
  margin: 0;
  background-color: #fff;
}
body,
table {
  font-family: arial,sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table {
  width: 100%;
  border-collapse: collapse;
}
input {
  outline: none;
}
input[type=submit],
input[type=button],
input[type=search],
input[type=text],
#properties span {
  border: solid 1px #b7b7b7;
  background-color: #fff;
  font-size: 11px;
}
input[type=search],
input[type=text],
#properties span {
  height: 22px;
  padding: 0 5px;
}
input[type=search]:focus,
input[type=text]:focus {
  border-color: #419bf9;
  box-shadow: 0 0 1px #8ab8e7;
}
input[type=submit],
input[type=button] {
  cursor: pointer;
  min-height: 22px;
}
input[type=button] {
  margin: 0 2px;
}
input[type=button]:active {
  opacity: 0.5;
}
input:disabled {
  opacity: 0.3 !important;
}
.d_folder,
.folder {
  background-position: center !important;
  background-size: 16px;
}
.folder {
  background-image: url(icons/folder.png) !important;
}
.d_folder {
  background-image: url(icons/d_folder.png) !important;
}
.menu-button {
  position: relative;
}
.menu-button::after {
  border-color: #000 transparent transparent transparent;
  border-width: 0.33333rem;
  right: 8px;
  margin-top: -0.13889rem;
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  width: 0;
  display: block;
}
.menu-button input {
  padding-right: 20px;
}
.menu-button>ul {
  position: absolute;
  left: 2px;
  top: 7px;
  white-space: nowrap;
  background-color: #fff;
  border: solid 1px #b7b7b7;
  list-style-type: none;
  padding: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}
.menu-button li {
  padding: 3px 5px;
  cursor: pointer;
}
.menu-button li:hover {
  background-color: #f4f3f4;
}
.menu-button li.separator {
  border-top: solid 1px #b7b7b7;
}
.menu-button:hover ul {
  transition-delay: .25s;
  visibility: visible;
  opacity: 1;
}

#collapse {
  position: absolute;
  top: 50px;
  right: 30px;
  border: none;
  background-color: #f2f2f2;
  border: solid 1px #b7b7b7;
  outline: none;
  z-index: 2;
}
#search {
  display: flex;
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: solid 1px #b7b7b7;
}
#search input[type=search] {
  flex: 1;
  height: 26px;
}#search input[type=button] {
  width: 26px;
  height: 26px;
  background: #fff url('icons/window.svg') center center no-repeat;
  background-size: 18px;
}
#tree {
  flex: 1;
  overflow: auto;
  position: relative;
  user-select: none;
}
#results {
  height: 300px;
  max-height: 50vh;
  border-top: solid 1px #b7b7b7;
  position: relative;
  white-space: nowrap;
  display: none;
  flex-direction: column;
}

#results [data-id=address] {
  display: flex;
  align-items: center;
}
#results [data-id=address]>span {
  flex: 1;
}

#results [data-id=address] input[data-cmd=close] {
  border: none;
  font-size: 14px;
  opacity: 0.5;
  background-color: transparent;
}
#results [data-id=address] input {
}
#results [data-id=address] input:hover {
  opacity: 0.8;
}
#results [data-id=address] input:active {
  opacity: 0.8;
}
#results table {
  table-layout: fixed;
  border-spacing: 0;
}
#results table tbody:empty::before {
  content: 'No results';
  display: block;
  margin: 5px;
  opacity: 0.5;
}
#results th {
  border-bottom: 1px solid #bebebe;
  background-color: #eeeeee;
  font-weight: normal;
  text-align: left;
  padding-left: 10px;
  user-select: none;
}
#results th:last-child {
  border-left: 1px solid #bebebe;
}
#results th,
#results td {
  height: 22px;
}
#results tbody tr {
  cursor: pointer;
}
#results table tr[data-valid=true] td{
  color: green;
}
#results table tr[data-valid=false] td{
  color: red;
}
#results tbody tr:nth-child(odd) {
  background-color: #f4f3f4;
}
#results tbody tr.selected {
  background-color: #b6e8ff;
}
#results td {
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
#results td:first-child {
  padding-left: 26px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 16px;
}
#results td:last-child {
  padding-right: 5px;
}
#properties {
  border-top: solid 1px #b7b7b7;
  background-color: #f2f2f2;
  padding: 5px;
}
#properties[data-enable=false] {
  pointer-events: none;
  opacity: 0.5;
}
#properties input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
#properties input[type=submit] {
  font-family: 'fontello';
  background-color: #52af52;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  height: 20px;
}
#properties input[type=text]:disabled {
  background-color: transparent;
  opacity: 1!important;
  color: #000;
}
#properties input[type=submit]:disabled {
  background-color: #ccc;
}
#properties span {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 11px;
  box-sizing: border-box;
}
#toolbar {
  background-color: #f2f2f2;
  border-top: solid 1px #b7b7b7;
  padding: 5px;
  display: flex;
  align-items: center;
}
#toolbar span {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 flex: 1;
 text-align: right;
}
#notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* flex */
  align-items: center;
  justify-content: center;
}
#notification>div {
  background-color: #fff;
  padding: 10px;
  width: 80%;
  min-height: 90px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  border: solid 3px #ccc;
  display: flex;
  flex-direction: column;
}
#notification>div>span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  flex: 1;
  padding-bottom: 10px;
}
#notification>div>div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#notification[data-type=confirm] [data-cmd=ok] {
  display: none;
}
#notification[data-type=warning] [data-cmd=yes],
#notification[data-type=warning] [data-cmd=no] {
  display: none;
}
#notification input {
  min-width: 90px;
  background-color: rgba(234, 234, 234, 0.25);
  color: #000;
}
/* inline notification */
#toolbar>span {
  position: fixed;
  background-color: #fdf8e4;
  color: #b79148;
  border: solid 1px #b79148;
  z-index: 10;
  display: block;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}
#toolbar>span:empty {
  display: none;
}

@-moz-document url-prefix() {
  [data-cmd="bookmark-manager"] {
    display: none;
  }
}
